---
title: DfE Design System team
description: about the DfE Design System team and who works on it
layout: layout-single-page-prose.njk
---

# DfE Design System team

The DfE Design System team at the [Department for Education](https://www.gov.uk/government/organisations/department-for-education) maintains this design system.

If you want to contact the team you can
[get in touch via email or Slack](/get-in-touch/).

## Members

- Suliman Sadiq - Solution Architect
- Mario Gledhill - Enterprise Architect
- David Burton - Product Manager
- Emily Culyer - Delivery Manager
- Luke Slowen – Product Owner
- Ash Stephens - Service Owner
